.social-links {
  width: 100%;
  height: 100%;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 40px 0;
  height: 100%
}

.social .item svg {
  font-size: 70px;
  color: #fff;
  cursor: pointer;
  transition: .1s all;
}

.social .item svg:hover {
  color: rgba(255,255,255,0.7);
  transition: .1s all;
}

@media only screen and (max-width: 800px) {
  .social {
    flex-direction: row;
  }

  .social .item svg {
    font-size: 40px;
  }
}