
.wallet {
  width: 100%;
}

.wallet-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.wallet-row a {
  text-decoration: none;
}

.wallet-row .download svg {
  font-size: 34px;
  padding-bottom: 10px;
}

.wallet-row .download {
  font-size: 18px;
  padding: 15px 40px;
  background-color: #0F232B;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  letter-spacing: .7px;
}

.wallet-row .download:hover {
  background-color: #204a5a;
}

.wallet-row .disabled {
 opacity: 0.4;
}