
.wallet {
  width: 100%;
}

.wallet-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.wallet-row .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.wallet-row a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
}

.wallet-row a:hover {
  text-decoration: underline;
}

.wallet-row svg {
  font-size: 60px;
  padding-bottom: 10px;
  color: #0F232B;
}

.wallet-row .download:hover {
  background-color: #204a5a;
}

.wallet-row .disabled {
 opacity: 0.4;
}


@media only screen and (max-width: 800px) {
  .wallet-row {
    flex-direction: column;
  }
}