* {
  box-sizing: border-box;
}
html {
  background-color: #0F232B;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* nav {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 200px;
} */

/* nav a {
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
} */


nav a:hover{
  color: #666;
}

p {
  line-height: 1.4;
  font-size: 16px;
    font-family: 'Inconsolata', sans-serif;
}
p, h2, h3, h4 {
  margin: 0;
}

.app {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.section-container {
  margin: 0 auto;
}

.header {
  padding: 40px 0 40px;
  z-index: 10;
  position: relative;
  text-align: center;
}

.header .logo img {
  width: 170px;
}

.header .title {
  font-size: 54px;
  font-weight: bold;

}

.header .subtitle {
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
}

.whitepaper {
  text-align: center;
  padding-bottom: 40px;
}

section {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

section .box {
  width: 28%;
  border: solid 3px #f1f1f1;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
}


section .long {
  margin-top: 20px;
  width: 100%;
}
section .box h4 {
  padding-bottom: 10px;
}
section .box h4 img {
  width: 30px;
}

section .long h4 {
  display: flex;
  align-items: center;
}

section .long h4 .soon {
  background-color: #ccc;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 10px;
  padding: 6px;
  opacity: 0.5;
  cursor: pointer;
  transition: .2s all;
}

section .long .heading .soon:hover {
  opacity: 1;
  transition: .2s all;
}


/*  ROADMAP  */
.roadmap .item {
  display: flex;
}
.roadmap .line {
  border-left: solid;
  height: 200px;
}



@media only screen and (max-width: 1200px) {
  .app {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .app {
    width: 800px;
  }
  section .box {
    width: 32%;
  }
  section .long {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .app {
    width: 100%;
  }

  .wallet {
    flex-direction: column;
  }

  .wallet .item {
    margin-bottom: 10px;
  }

  section {
    flex-direction: column;
  }

  section .box {
    width: 100%;
    margin-bottom: 10px;
  }
}

